# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
datasets/
runs/
!runs/vegetables_26classes2/weights/best.pt  # 최종 학습 모델 가중치 파일 예외 처리 (Git에 업로드)

# IDE / OS
.vscode/
.idea/
.DS_Store
